@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;

  font-family: 'Poppins', sans-serif;
  font-style: normal;

  color: $main-color;
  background-color: $white-color;

  &.active {
    overflow: hidden;
  }
}

main {
  min-height: calc(100vh - 189px);

  @media screen and (min-width: $min768) {
    min-height: calc(100vh - 196px);
  }
}

button {
  padding: 0;
  border: 0;

  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: $min320;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $min768) {
    width: $min768;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $min1280) {
    width: $min1280;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  padding: 0;
  margin: 0;

  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: $min768) {
    padding-top: 48px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $min1280) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.btn--orange {
  color: $white-color;
  background-color: $button-light-orange-bgc;

  &:hover {
    background-color: $white-color;
    color: $button-orange-bgc;

    cursor: pointer;
  }
}

.btn--white {
  display: flex;

  border: 2px solid $button-light-orange-bgc;
  border-radius: 4px;

  color: $button-light-orange-bgc;
  background-color: $white-color;

  &:hover {
    border: 2px solid $button-orange-bgc;
    background-color: $button-orange-bgc;
    color: $color-light-text;

    cursor: pointer;
  }
}
