$font-family: "Poppins", sans-serif;
$second-family: "Roboto", sans-serif;

// Colors
$black: #202025;
$grapefruit: #fd5103;
$gray: #5f6775;
$white: #fcfcfc;
$auxiliary-orange: #fe7031;
$dark: #15141d;
$black: #000000;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);