$min1280: 1280px;
$max1280: 1279px;

$min768: 768px;
$max768: 767px;

$min320: 320px;
$max320: 319px;

// Colors

$main-color: #202025;
$secondary-color-text: #5f6775;

$white-color: #ffffff;
$color-light-text: #fcfcfc;

$button-orange-bgc: #fd5103;
$button-light-orange-bgc: #fe7031;

// font-family: 'Roboto', sans-serif;
