.favorite {
  padding-top: 40px;
  padding-bottom: 20px;

  @media screen and (min-width: $min768) {
    padding-top: 48px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $min1280) {
    padding-top: 52px;
  }
}

.favorite__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.91;
  text-align: center;

  margin-bottom: 60px;

  @media screen and (min-width: $min768) {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
  }

  @media screen and (min-width: $min1280) {
    font-size: 48px;
    line-height: 1.5;
  }
}

.favorite__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;

  color: $secondary-color-text;

  @media screen and (min-width: $min768) {
    font-size: 16px;
  }
}

.favorite__box {
  padding: 20px;

  @media screen and (min-width: $min1280) {
    padding: 28px;
  }
}

.favorite__title--secondary {
  margin-bottom: 20px;

  @media screen and (min-width: $min768) {
    margin-bottom: 28px;
  }
}

.favorite__text {
  margin-bottom: 20px;

  @media screen and (min-width: $min768) {
    margin-bottom: 28px;
  }
}
